@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Fonte */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  /* Cores da Marca (README Seção 2) */
  --color-primary: #C92071;
  --color-secondary: #B5B6F2;
  --color-tertiary: #991956;

  /* Feedback */
  --color-error: #EE4266;
  --color-success: #52CA76;
  --color-warning: #F6AA1C;

  /* Escala de Cinza */
  --color-dark-gray: #1F1F1F;
  --color-dark-gray-2: #474747;
  --color-dark-gray-3: #666666;
  --color-light-gray: #8F8F8F;
  --color-light-gray-2: #CCCCCC;
  --color-light-gray-3: #F5F5F5;
  --color-white: #FFFFFF;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-ui-background: var(--background);
  --color-ui-foreground: var(--foreground);
  --color-ui-card: var(--card);
  --color-ui-card-foreground: var(--card-foreground);
  --color-ui-popover: var(--popover);
  --color-ui-popover-foreground: var(--popover-foreground);
  --color-ui-primary: var(--primary);
  --color-ui-primary-foreground: var(--primary-foreground);
  --color-ui-secondary: var(--secondary);
  --color-ui-secondary-foreground: var(--secondary-foreground);
  --color-ui-muted: var(--muted);
  --color-ui-muted-foreground: var(--muted-foreground);
  --color-ui-accent: var(--accent);
  --color-ui-accent-foreground: var(--accent-foreground);
  --color-ui-destructive: var(--destructive);
  --color-ui-border: var(--border);
  --color-ui-input: var(--input);
  --color-ui-ring: var(--ring);
  --color-ui-chart-1: var(--chart-1);
  --color-ui-chart-2: var(--chart-2);
  --color-ui-chart-3: var(--chart-3);
  --color-ui-chart-4: var(--chart-4);
  --color-ui-chart-5: var(--chart-5);
  --color-ui-sidebar: var(--sidebar);
  --color-ui-sidebar-foreground: var(--sidebar-foreground);
  --color-ui-sidebar-primary: var(--sidebar-primary);
  --color-ui-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-ui-sidebar-accent: var(--sidebar-accent);
  --color-ui-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-ui-sidebar-border: var(--sidebar-border);
  --color-ui-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-ui-border outline-ui-ring/50;
  }
  body {
    @apply bg-ui-background text-ui-foreground;
  }
}